@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// @import "./_reset";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    width: 100%;
    max-width: 100vw;
    font-family: "Kumbh Sans", sans-serif;
    // max-height: 3650px;
    // height: 3650px;
    background: rgba(244, 246, 248, 1);

    .container {
        // max-width: 100vw;
        // width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .nav {
            width: 100%;
            max-width: 100vw;
            height: 160px;
            // background-image: url(../img/nav-fon.svg);
            background: url(../img/nav-fon.svg);
            background-position: right;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            // background: none;
            align-items: center;
            padding: 46px 165px 0 165px;
            z-index: 1;
            margin-bottom: 109px;

            .box {
                max-width: 100%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 44px;

                .box1 {
                    max-width: 112px;
                    width: 100%;
                    height: 24px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                }


            }

            .nav-addresses {
                cursor: pointer;
                max-width: 1110px;
                width: 100%;
                height: 80px;
                background: #ffff;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                // padding: 28px 16px 28px 32px;
                // justify-content: center;
                // text-align: center;

                .input {
                    width: 369px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    // justify-content: space-between;
                    margin-left: 32px;


                    input {
                        padding: 16px;
                        width: 271px;
                        height: 16px;
                        border: none;
                        outline: none;
                        color: rgba(25, 32, 45, 1);
                        font-size: 16px;
                        font-weight: 400px;
                        line-height: 20px;
                        opacity: 50%;
                    }


                }

                .border {
                    width: 1px;
                    height: 80px;
                    background: rgba(110, 128, 152, 1);
                    // margin-left: 119px;
                }

                .input1 {
                    width: 369px;
                    height: 24px;
                    // margin-left: 23px;

                    input {
                        padding: 3px 1px 5px 16px;
                        width: 271px;
                        height: 16px;
                        border: none;
                        outline: none;
                        color: rgba(25, 32, 45, 1);
                        font-size: 16px;
                        font-weight: 400px;
                        line-height: 20px;

                    }

                    input::placeholder {
                        opacity: 50%;

                    }

                }

                .border1 {
                    width: 1px;
                    height: 80px;
                    background: rgba(110, 128, 152, 1);
                }

                .input2 {
                    display: flex;


                    input {
                        display: flex;
                        text-align: center;
                    }

                    .only {
                        margin-left: 35px;
                        font-family: "Kumbh Sans", sans-serif;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: rgba(25, 32, 45, 1);
                    }

                    .button {
                        margin-bottom: 0;
                        cursor: pointer;
                        width: 123px;
                        height: 48px;
                        background: rgba(89, 100, 224, 1);
                        border: none;
                        // margin-bottom: 104px;
                        border-radius: 10px;
                        transition: 0.5s;

                        &:hover {
                            background: rgba(147, 155, 244, 1);
                        }

                        p {
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 20px;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            color: #ffff;
                        }
                    }

                }



            }
        }

        .main {
            width: 100%;
            max-width: 1110px;
            // height: 1132px;
            display: flex;
            // align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            // column-gap: 30px;
            row-gap: 65px;
            margin-bottom: 65px;

            .main-data {
                .main-data_logo {
                    position: relative;
                    top: -25px;
                    // left: 23px;
                }

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                max-width: 350px;
                height: 228px;
                background: #ffff;
                border-radius: 10px;
                padding: 0 32px 32px 32px;


                p {
                    margin-bottom: 16px;

                    span {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: rgba(110, 128, 152, 1);
                        margin-right: 12px;

                    }

                    span:nth-child(2) {
                        margin-left: 12px;
                    }
                }

                h2 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 25px;
                    color: rgba(25, 32, 45, 1);
                    margin-bottom: 17px;
                    transition: 0.5s;
                    cursor: pointer;

                    &:hover {
                        color: rgba(110, 128, 152, 1);
                    }
                }


                span {
                    display: inline-block;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: rgba(110, 128, 152, 1);

                }

                h3 {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: rgba(89, 100, 224, 1);
                    margin-top: 44px;
                }

            }
        }

        .button1 {
            width: 141px;
            height: 48px;
            background: rgba(89, 100, 224, 1);
            border: none;
            margin-bottom: 104px;
            border-radius: 10px;
            cursor: pointer;
            transition: .5s;

            &:hover {
                background: rgba(147, 155, 244, 1);
            }

            p {
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                text-align: center;
                justify-content: center;
                color: #ffff;
            }
        }
    }
}